In [31]:
%pip install plyer
%pip install tqdm


import pandas as pd
import numpy as np
import sqlite3
from datetime import datetime
from plyer import notification 
import requests
from tqdm import tqdm

Requirement already satisfied: plyer in c:\users\cnmendes\appdata\local\programs\python\python312\lib\site-packages (2.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tqdm in c:\users\cnmendes\appdata\local\programs\python\python312\lib\site-packages (4.66.4)
Requirement already satisfied: colorama in c:\users\cnmendes\appdata\roaming\python\python312\site-packages (from tqdm) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [32]:
url = "https://restcountries.com/v3.1/all"

In [33]:
resposta = requests.get(url)
resposta.status_code

200

In [34]:
if resposta.status_code == 200:
    data_json = resposta.json()
else:
    print('erro ao acessar a API')

In [35]:
import pandas as pd
paises = pd.DataFrame(data_json)
paises

,name,tld,cca2,ccn3,cca3,cioc,independent,status,unMember,currencies,...,gini,fifa,car,timezones,continents,flags,coatOfArms,startOfWeek,capitalInfo,postalCode
0,"{'common': 'Moldova', 'official': 'Republic of...",[.md],MD,498,MDA,MDA,True,officially-assigned,True,"{'MDL': {'name': 'Moldovan leu', 'symbol': 'L'}}",...,{'2018': 25.7},MDA,"{'signs': ['MD'], 'side': 'right'}",[UTC+02:00],[Europe],"{'png': 'https://flagcdn.com/w320/md.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [47.01, 28.9]}","{'format': 'MD-####', 'regex': '^(?:MD)*(\d{4}..."
1,"{'common': 'United States', 'official': 'Unite...",[.us],US,840,USA,USA,True,officially-assigned,True,"{'USD': {'name': 'United States dollar', 'symb...",...,{'2018': 41.4},USA,"{'signs': ['USA'], 'side': 'right'}","[UTC-12:00, UTC-11:00, UTC-10:00, UTC-09:00, U...",[North America],"{'png': 'https://flagcdn.com/w320/us.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,sunday,"{'latlng': [38.89, -77.05]}","{'format': '#####-####', 'regex': '^\d{5}(-\d{..."
2,"{'common': 'Mayotte', 'official': 'Department ...",[.yt],YT,175,MYT,NaN,False,officially-assigned,False,"{'EUR': {'name': 'Euro', 'symbol': '€'}}",...,NaN,NaN,"{'signs': ['F'], 'side': 'right'}",[UTC+03:00],[Africa],"{'png': 'https://flagcdn.com/w320/yt.png', 'sv...",{},monday,"{'latlng': [-12.78, 45.22]}","{'format': '#####', 'regex': '^(\d{5})$'}"
3,"{'common': 'Nauru', 'official': 'Republic of N...",[.nr],NR,520,NRU,NRU,True,officially-assigned,True,"{'AUD': {'name': 'Australian dollar', 'symbol'...",...,{'2012': 34.8},NaN,"{'signs': ['NAU'], 'side': 'left'}",[UTC+12:00],[Oceania],"{'png': 'https://flagcdn.com/w320/nr.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [-0.55, 166.92]}",NaN
4,"{'common': 'Mozambique', 'official': 'Republic...",[.mz],MZ,508,MOZ,MOZ,True,officially-assigned,True,"{'MZN': {'name': 'Mozambican metical', 'symbol...",...,{'2014': 54.0},MOZ,"{'signs': ['MOC'], 'side': 'left'}",[UTC+02:00],[Africa],"{'png': 'https://flagcdn.com/w320/mz.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [-25.95, 32.58]}","{'format': '####', 'regex': '^(\d{4})$'}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,"{'common': 'Benin', 'official': 'Republic of B...",[.bj],BJ,204,BEN,BEN,True,officially-assigned,True,"{'XOF': {'name': 'West African CFA franc', 'sy...",...,{'2015': 47.8},BEN,"{'signs': ['DY'], 'side': 'right'}",[UTC+01:00],[Africa],"{'png': 'https://flagcdn.com/w320/bj.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [6.48, 2.62]}",NaN
246,"{'common': 'Japan', 'official': 'Japan', 'nati...","[.jp, .みんな]",JP,392,JPN,JPN,True,officially-assigned,True,"{'JPY': {'name': 'Japanese yen', 'symbol': '¥'}}",...,{'2013': 32.9},JPN,"{'signs': ['J'], 'side': 'left'}",[UTC+09:00],[Asia],"{'png': 'https://flagcdn.com/w320/jp.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [35.68, 139.75]}","{'format': '###-####', 'regex': '^(\d{7})$'}"
247,"{'common': 'Dominican Republic', 'official': '...",[.do],DO,214,DOM,DOM,True,officially-assigned,True,"{'DOP': {'name': 'Dominican peso', 'symbol': '...",...,{'2019': 41.9},DOM,"{'signs': ['DOM'], 'side': 'right'}",[UTC-04:00],[North America],"{'png': 'https://flagcdn.com/w320/do.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [18.47, -69.9]}","{'format': '#####', 'regex': '^(\d{5})$'}"
248,"{'common': 'Qatar', 'official': 'State of Qata...","[.qa, قطر.]",QA,634,QAT,QAT,True,officially-assigned,True,"{'QAR': {'name': 'Qatari riyal', 'symbol': 'ر....",...,NaN,QAT,"{'signs': ['Q'], 'side': 'right'}",[UTC+03:00],[Asia],"{'png': 'https://flagcdn.com/w320/qa.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,sunday,"{'latlng': [25.28, 51.53]}",NaN
249,"{'common': 'Gabon', 'official': 'Gabonese Repu...",[.ga],GA,266,GAB,GAB,True,officially-assigned,True,"{'XAF': {'name': 'Central African CFA franc', ...",...,{'2017': 38.0},GAB,"{'signs': ['G'], 'side': 'right'}",[UTC+01:00],[Africa],"{'png': 'https://flagcdn.com/w320/ga.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [0.38, 9.45]}",NaN

In [36]:
paises.columns

Index(['name', 'tld', 'cca2', 'ccn3', 'cca3', 'cioc', 'independent', 'status',
       'unMember', 'currencies', 'idd', 'capital', 'altSpellings', 'region',
       'subregion', 'languages', 'translations', 'latlng', 'landlocked',
       'borders', 'area', 'demonyms', 'flag', 'maps', 'population', 'gini',
       'fifa', 'car', 'timezones', 'continents', 'flags', 'coatOfArms',
       'startOfWeek', 'capitalInfo', 'postalCode'],
      dtype='object')

In [37]:
subregion = [sub for sub in paises['subregion']] 
semana = [week for week in paises['startOfWeek']]
nome = [pais['common'] for pais in paises['name']]

dados_filtrados = {
    'Nome': nome,
    'Semana': semana,
    'Subregiao': subregion
}
dados_filtrados

paises_novo = pd.DataFrame(dados_filtrados)
paises_novo

                   Nome  Semana       Subregiao
0               Moldova  monday  Eastern Europe
1         United States  sunday   North America
2               Mayotte  monday  Eastern Africa
3                 Nauru  monday      Micronesia
4            Mozambique  monday  Eastern Africa
..                  ...     ...             ...
245               Benin  monday  Western Africa
246               Japan  monday    Eastern Asia
247  Dominican Republic  monday       Caribbean
248               Qatar  sunday    Western Asia
249               Gabon  monday   Middle Africa

[250 rows x 3 columns]

In [38]:
area_countries = [area for area in paises['area']] 
area_countries

capital_countries = [cap for cap in paises['capital']] 
capital_countries

status = [st for st in paises['status']]
status



dados_filtrados_countries = {
    'Area': area_countries,
    'Capital': capital_countries,
    'Status': status

}

paises_novo_2 = pd.DataFrame(dados_filtrados_countries)
paises_novo_2

          Area             Capital               Status
0      33846.0          [Chișinău]  officially-assigned
1    9372610.0  [Washington, D.C.]  officially-assigned
2        374.0         [Mamoudzou]  officially-assigned
3         21.0             [Yaren]  officially-assigned
4     801590.0            [Maputo]  officially-assigned
..         ...                 ...                  ...
245   112622.0        [Porto-Novo]  officially-assigned
246   377930.0             [Tokyo]  officially-assigned
247    48671.0     [Santo Domingo]  officially-assigned
248    11586.0              [Doha]  officially-assigned
249   267668.0        [Libreville]  officially-assigned

[250 rows x 3 columns]

In [39]:
colunas = ['name', 'currencies', 'region', 'latlng', 'borders', 'area']
novo_dataframe = paises[colunas].copy()

def trocar_moeda(currencies):
    if isinstance(currencies, dict):
        for moeda in currencies:
            name = currencies[moeda].get('name', '')
            symbol = currencies[moeda].get('symbol', '')
            return f"{name} ({symbol})"
    return None


novo_dataframe['currency'] = novo_dataframe['currencies'].apply(trocar_moeda)


nome = [pais['common'] for pais in novo_dataframe['name']]
novo_dataframe['name'] = nome


columns_to_select = ['name', 'currency', 'region', 'latlng', 'borders', 'area']
paises_novo2 = novo_dataframe[columns_to_select]


display(paises_novo2)

,name,currency,region,latlng,borders,area
0,Moldova,Moldovan leu (L),Europe,"[47.0, 29.0]","[ROU, UKR]",33846.0
1,United States,United States dollar ($),Americas,"[38.0, -97.0]","[CAN, MEX]",9372610.0
2,Mayotte,Euro (€),Africa,"[-12.83333333, 45.16666666]",NaN,374.0
3,Nauru,Australian dollar ($),Oceania,"[-0.53333333, 166.91666666]",NaN,21.0
4,Mozambique,Mozambican metical (MT),Africa,"[-18.25, 35.0]","[MWI, ZAF, SWZ, TZA, ZMB, ZWE]",801590.0
...,...,...,...,...,...,...
245,Benin,West African CFA franc (Fr),Africa,"[9.5, 2.25]","[BFA, NER, NGA, TGO]",112622.0
246,Japan,Japanese yen (¥),Asia,"[36.0, 138.0]",NaN,377930.0
247,Dominican Republic,Dominican peso ($),Americas,"[19.0, -70.66666666]",[HTI],48671.0
248,Qatar,Qatari riyal (ر.ق),Asia,"[25.5, 51.25]",[SAU],11586.0
249,Gabon,Central African CFA franc (Fr),Africa,"[-1.0, 11.75]","[CMR, COG, GNQ]",267668.0

In [42]:
from plyer import notification 
import requests
#Criando uma definição para ler a URL da API, trazer a notificação se foi bem sucedido a leitura ou não e transformar em um DataFrame
def alerta_base(url): #URL vai ser o parâmetro que vamos ter que passar
        resposta_url = requests.get(url)  #Criei essa variável resposta_url pra armazenar o request.get da url parâmetro
        print(resposta_url.status_code) #Vai printar o valor na tela
        if resposta_url.status_code == 200: #Condição pra verificar se a resposta foi 200 (Conexão bem sucedida)
            resposta_json = resposta_url.json() #Criei essa variável resposta_json pra armazenar a leitura JSON da resposta_url
            print(resposta_json) #Printa na tela o JSON da API
            df_json = pd.DataFrame(resposta_json) #Criei essa variável df_json pra armazenar e transformar o resposta_json em um DataFrame
            print(df_json) #Printa na tela o df_json
            print(df_json.info())
            print(df_json.shape)
            title = "Conexão bem sucedida" #Atribui a title a mensagem para que seja usada posteriormente no notification
        else: 
            title = "Houve algum erro de conexão" #Se der errado, vai aparecer na notificação essa mensagem de erro
    
    #Usando o notification.notify pra exibir a mensagem na tela
        notification.notify(  
        title="Alerta",
        message=title,
        timeout=10
        )